Workflow n8n/Workflow básico.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Você é um analista financeira. Sempre que eu fizer perguntas sobre vendas utilizar a tool, ou seja, o banco de dados acoplado para responder."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        128,
        16
      ],
      "id": "449bd036-ad16-444f-bbec-ec8f09a0e9f0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        16,
        272
      ],
      "id": "88513515-bdac-4e36-a18b-d96bb66a4386",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4aE8eDh5i9HQNObg",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "getAll",
        "tableId": "gold.kpi_clientes_top_rows",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        336,
        272
      ],
      "id": "9cdfceb4-1887-4586-82f7-ccb6c85b3531",
      "name": "Get many rows in Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "Ug6mYhD9lesc6GeO",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        16
      ],
      "id": "96ce740e-d112-4072-ba00-eff9db584e73",
      "name": "Telegram Trigger",
      "webhookId": "bb23128c-8735-475d-bbbb-f81e2aa803f4",
      "credentials": {
        "telegramApi": {
          "id": "XsKBCsr6GcYuLwwq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        16
      ],
      "id": "66d3de85-024c-475d-87ec-41365c717dfa",
      "name": "Send a text message",
      "webhookId": "3e101cf7-5e92-4048-ab88-1865015c9187",
      "credentials": {
        "telegramApi": {
          "id": "XsKBCsr6GcYuLwwq",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows in Supabase": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2592e1bb-8191-4116-82ee-554fe79210fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fb9078b7ff8666a57dcf57e256fe16be309bc1b3c9ac82bf534df3e0f23e885a"
  },
  "id": "OniT-FfMVoVvMJSVJ8V5N",
  "tags": []
}